.header{
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: 15px;
    width: 960px;
  }
  .tab{
    padding: 14px 16px;
    min-width: 70px;
    text-align: center;
  }
  .tab:hover {
    background-color: #ddd;
  }
  .tab.active {
    background-color: #ccc;
  }
  #content{
    width: 960px;
  }
  img#accum {
    width: 80%;
  }
